<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="dbconnection" connectionString="Server=192.168.2.33;Uid=sa;PWD=dsd1124;database=testdata;Pooling=true;Max Pool Size=1"></add>
	</connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
	
	
	
  <system.serviceModel>
	  			  
    <behaviors>

		
			

		
		
		<endpointBehaviors>
			<behavior name="restbehavior">
									
				
				<webHttp/>
				
			</behavior>

						
		</endpointBehaviors>
	
      <serviceBehaviors>
		  
		 
        <behavior name="servicebehavior" >
			
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
				  
      </serviceBehaviors>
			
    </behaviors>

	  <services>
		  <service name ="WcfService8.Service1" behaviorConfiguration ="servicebehavior" >
			  <endpoint name ="RESTEndPoint"
		   contract ="WcfService8.IService1"
		   binding ="webHttpBinding"
		   address =""
		   behaviorConfiguration ="restbehavior"/>
			  
		  </service>
		  
		  
	  </services>
	  
	  
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
	
	
	
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
